# temporary files
*~
*.swp

# hidden stuff
.*
!.editorconfig
!.gitignore
!.yamllint
!.env.reference

# python specific
__pycache__/
venv/

# project related
*.zip

/log.txt

.aws-sam
node_modules
**/node_modules

tmp
**/dist

.aws
data/

*/local_file.json
**/http-client.env.json

**/*credential*.json
**/token.json
**/auth-token*
porting-generali/

/.vscode

.aider*
!.aider.conf.yml
!.aider.model.settings.yml

local-assets/
ignore/
